<footer>


        <div class="container">
            <div class="footer-top">


                <div class="footer-logo">
                    <p class="bold logo">Ani<span>Clone</span></p>
                    <p class="subtext-small">Created by Daerese Hafeez</p>
                </div>

                <ul class="footer-links">
                    <li>Original Website</li>
                    <li><a href="https://anilist.co/">Anilist.co</a></li>
                </ul>

                
                <ul class="footer-links">
                    <li>Resources</li>
                    <li><a href="https://github.com/AniList/ApiV2-GraphQL-Docs">AniList API</a></li>
                </ul>

            </div>
            <hr>

            <div class="footer-bottom-links">

                <a href="https://www.linkedin.com/in/daerese-hafeez-2176a9211/" class="btn-footer-link">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/daerese" class="btn-footer-link">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.instagram.com/daerese/?hl=en" class="btn-footer-link">
                    <i class="fa-brands fa-instagram"></i>
                </a>

            </div>
        </div>

    </footer>