/* Simple reset options */
:root {
    --light-text: #5E5E5E; 
    --lighter-text: #A1A6AD;
    --rating-text: #97FF73;

    --opaque-black: rgba(0, 0, 0, 0.904);

/*  */
    --color-main: #EFC1FF;
    --color-main-light: #f3ceff;
    --color-main-sat: #BB74D8;
    --color-main-dark: #6b5770;

    --color-second: #00C8FF;
    --color-second-sat: #6D91EA;
    --color-second-dark: #354A54;

    --rating-high: #269b85;
    --rating-medium: #c76a2b;
    --rating-low: #d43535;

    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
    --box-shadow-hover: 0 5px 10px rgba(0, 0, 0, 0.418);
}

html {
    /* The dimensions will also calculate the margin and padding. */
    box-sizing: border-box;
    font-size: 1rem; /* 16px */
    font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit
}

* {
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
    /* outline: 0; */
    /* font-size: 100%; */
    /* vertical-align: baseline; */
    /* background: transparent; */
}

body {
    margin: 0;
    padding: 0;

    overflow: auto;

    position: relative;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, var(--color-main), white); */
    /* background-position: center; */
    /* background-size: 100vh; */
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    /* margin: 0; */
    /* padding: 0; */
}



ol, ul {
    list-style: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    /* * Images always work better when using display: block. 
       * ALWAYS use display block.  */
    display: block;
    object-fit: cover;
    height: auto; 
}

a {
    text-decoration: none;
    color: inherit;
    transition-duration: 250ms;
}

a:visited { 
    color: inherit;
}

/* ****************** 
* Footer
* ********************/

footer {
    background: black;
    color: white;
    padding: 2rem 0;

    position: absolute;
    top: 100%;
    width: 100%;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.footer-logo p {
    margin: 0;
}

.footer-links {
    padding: 0;
    /* border: 1px solid green; */
    font-size: .875rem;
}


.footer-links li {
    list-style-type: none;
    margin-bottom: 16px;
}

.footer-links a:hover,
.footer-links a:focus {
    color: var(--color-main-light);
}

.footer-links li:first-of-type {
    opacity: .7;
}

.footer-bottom-links {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

.btn-footer-link {

    display: block;
    opacity: .75;
    /* border: 1px solid white; */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    /* padding: 24px; */
    font-size: 1.5rem;
    text-align: center;
}

.btn-footer-link:hover {
    opacity: 1;
    color: var(--color-main-light)
}

footer hr {
    margin-bottom: 32px;
}


/* ****************** 
* Universal Elements --> Grid cards
* ********************/

.card * {
    transition-duration: 200ms !important;
}

.card-link {
    transition-duration: 200ms !important;
    display: block;
    /* border: 1px solid red; */
}

.card-link * {
    transition-duration: 200ms;
}

.card-link img {
    /* transition-duration: 150ms; */
    box-shadow: var(--box-shadow);
}

.card-link:hover p:not(.rating-text) {
    color: var(--color-main-sat);
}

.card-link:hover img {
    box-shadow: var(--box-shadow-hover)
}

.card-img-container {
    /* flex-grow: 1;
    width: 100%; */
}

.card-img {
    aspect-ratio: 1.5 / 2.2 !important;
    /* height: 100%; */
    border-radius: 6px;

    border-radius: 12px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185); */
    transition-duration: 300ms;
}

.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid-card {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

/* * Containers with scrolling overflow */

.scroll::-webkit-scrollbar {
    background-color: transparent;
    /* width: 8px; */
    /* height: 8px; */
}

.scroll-y::-webkit-scrollbar { 
    width: 8px;
}

.scroll-x::-webkit-scrollbar {
    height: 8px;
}

/* *Scrollbar foreground */

.scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.205);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.219); */
    border-radius: 8px;
    /* width: 5px; */
}

/* * Scrollbar Background */
.scroll::-webkit-scrollbar-track {
    /* background: blue; */
}

/* ****************** 
* Loading animation
* ********************/

.loading-screen,
.loading-element {
    width: 100%;
    height: 100%;
    background: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    margin: 0;
  
    /* * For centering the loading icon. */
    display: grid;

    align-items: center;
    justify-items: center;
    /* display: none; */
}


/* * The squares placed inside this container will automatically take on
   * the same width and height. */
.loader {
    width: 100px;
    height: 100px;
    position: relative;
  
    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;

    animation-timing-function: linear;
}



.sq1, .sq2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sq1 {
    border: 2px solid #EFC1FF;
}

.sq2 {
    background-image: linear-gradient(var(--color-main), var(--color-second));
    transform: rotate(45deg);
}

@keyframes spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
    
}
}




/************** 
* * BASE STYLES AND UTILITIES
****************/
/* Used to contain the content within sections
   This will change within media queries. */
.container { 
    width: 90%;
    margin: 0 auto; 
    max-width: 1120px;
    /* border: 1px solid red; */
}


.container-static {
    width: 90%;
    margin: 0 auto;
}

section {
    width: 100%;
    /* border: 1px solid green; */
    padding-top: 1rem; 
    padding-bottom: 1rem;
}


/* * Utilites * */
.bold {
    font-weight: bold;
}

.paragraph {
    line-height: 20px;
}

/* Light color */
.light-text { 
    color: var(--light-text);
}

.lighter-text {
    color: var(--lighter-text);
}

/* Small text? Maybe delete this */
.subtext {
    /* 14px */
    font-size: .875rem; 
    /* line-height: 20px; */
}

.caption {
    font-size: .875rem;
}

.subtext-small { 
    /* 14px */
    font-size: .75rem;
}

.rating-text {
    color: var(--rating-text)
}

.logo {
    /* margin: 0; */
    padding: 0;
    color: white;
}

.logo > span {
    color: #EFC1FF;
}

.flex-default {
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-column-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* * Utility to remove the scrollbar from an element */
.no-scrollbar{
	-ms-overflow-style: none;  /* IE and Edge */
	 scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
	display: none; 
}

/* * Buttons */

.btn {
    transition-duration: 175ms;
    padding: 8px 16px;
    font-weight: 700;
    font-family: inherit;
    /* font-family: 'Inter', sans-serif; */
}

.btn:hover {
    cursor: pointer;
}

.btn-secondary {
    background-color: var(--color-second-dark);
    color: white;
}

.btn-text {
    border: none;
    background: transparent;
    font-family: inherit;
    padding: 10px;
    padding-left: 0;
    transition-duration: 200ms;
}

.btn-text:hover {
    cursor: pointer;
    color: var(--color-main-sat);
}

.btn-text-open-review {
    
}

.btn-genre {
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
}

.btn-genre:hover { 
    background-color: var(--color-second);
    color: black;
}

.btn-genre-details-page {
    background: rgb(197, 197, 197);
    border: none;
    margin: 6px;
}

.btn-genre-details-page:hover {
    background: rgb(175, 175, 175);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.13);
}

.btn-genre-details-page:active {
    background: rgb(167, 167, 167);
}

.btn-icon {
    background: transparent;
    border: none;
}

/************** 
* * Typography
****************/
p {
    font-size: 1rem;
}

h1 {
    font-size: 2.25rem;
    margin-top: 0;
}

@media screen and (min-width: 875px) { 
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
    }
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

figcaption {
    font-size: 1rem;
}


/*************************************/
/* * MOBILE STYLES */
/*************************************/

/**************
* * Header - Home
****************/

.border-top {
    /* *A utility class used within the script JS. 
    * It will be applied to the . Why?
    *   -  */
    border-top: 1px solid;
}

header {
    /* * The header contains a hero image / greeting, as well as the navbar. */
    width: 100%;
    /* height: 100vh; */
    
    position: relative;
    color: white;

    margin-top: 0;
    /* border-top: 1px solid; */
    /* background-color: lightgreen; */

}

.header-home {

    height: 100vh;

    background-image: linear-gradient(rgba(82, 71, 71, 0.479), rgba(82, 71, 71, 0.479)), url("images/5-centimeters-bg-image.jpg");
    background-position: top right; 
    background-size: cover;
    
    margin-top: 0;
}

.navbar {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border: 1px solid pink; */

    /* padding: .2rem .8rem; */
    padding-top: .2rem;
    padding-bottom: .2rem;

    position: sticky;
    top: 0;

    /* overflow-y: hidden; */

    margin: 0;
    z-index: 3;
    /* border: 1px solid blue; */
    transition-duration: 200ms;
    /* border: 1px solid red; */

    width: 100%;
}

/* * Applying styles to the navbar for different pages. */

/* Navbar for other pages. */
.navbar-other {
    background-color: var(--opaque-black)
}

.header-search .navbar-other {
    position: fixed;
}


.header-anime .navbar-other,
.header-anime #nav-menu {
    background: rgba(0, 0, 0, 0.5)
}

/* * The content inside the navbar */
.navbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.navbar-container > * {
    /* border: 1px solid green; */
}


/* * Navbar utilities */
.navbar-bg {
    /* background-color: var(--color-second-dark); */
    background-color: var(--opaque-black); 
}

.navbar-fixed {
    position: fixed;
    /* top: 0; */
}

.logo {
    display: inline-block;
}

.btn-icon { 
    background: transparent;
    border: none;
    font-size: 1.25rem;
    
}

#btn-toggle-nav { 
    color: white;
}

/* * TOGGLE NAV MENU */
#nav-menu {
    /* height: 0; */
    /* overflow-y: hidden; */
    /* overflow: hidden; */
    width: 100%;
    opacity: 0;

    pointer-events: none;
    
    position: absolute;
    /* top: 500px; */
    /* margin-top: 50px; */
    /* z-index: 1; */
    background-color: var(--opaque-black);

    /* transition: 275ms; */

    /* transition: top 200ms ease; */
    transition: opacity 200ms ease;
}

#nav-menu-links {
    /* margin-top: -100%; */
    /* border: 1px solid blue; */
    padding-left: 0;
}

.nav-menu-link {
    /* width: fit-content; */
    /* border-bottom: 1px solid white; */
    padding: .5rem 0;
    /* border: 1px solid green; */
    transition-duration: 200ms;

    /* transition: width 200ms; */
}

.nav-menu-link:not(:last-child) {
    margin-bottom: .5rem;
    cursor: pointer; 
}

.nav-menu-link:hover, .nav-menu-link:focus,
.nav-link:hover, .nav-link:focus {
    /* width: 100%; */
    color: var(--color-main-light);
}

.nav-menu-link:hover .line, .nav-menu-link:focus .line,
.nav-link:hover .line, .nav-link:focus .line {
    width: 100%;
}

.line {
    background: white;
    height: 2px;
    width: 20px;
    transition-duration: 300ms;
}

.nav-menu-open {
    /* opacity: 1; */
    /* top: 200px; */
    /* height: 500px; */
    /* transition: 200 200ms ease; */
}

/* * Navbar center (Searchbar) */

.navbar-center { 
    /* max-width: 45%; */
    /* flex-grow: 1; */
}

.searchbar-container { 
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px 14px;

    display: flex;
    align-items: center;
    max-width: 100%;

    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.searchbar-container:focus-within {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.61);
}

#searchBar {
    background: transparent;
    border: none;
    color: white;
    width: 100%;
}

#searchBar:focus {
    outline: none;
}

.search-icon {
    margin-right: 5px;
}

/* * Navbar right */
.navbar-right { 
    display: none;
}

.nav-links {
    display: flex;
    padding: 0;
    /* border: 2px solid red; */
}

.nav-link:not(:last-child) {
    margin-right: .5rem;
}

@media screen and (min-width: 727px) {

    .navbar-container {
        grid-template-columns: .8fr 2fr 1fr;
        gap: 25px;
    }

    .navbar-right {
        /* * Where the nav links are */
        display: block;
    }

    .navbar-right > * {
        /* border: 1px solid red; */
    }
    
    #btn-toggle-nav {
        /* *Button that toggles the nav menu */
        display: none;
    }
}

@media screen and (max-width: 350) {
    #btn-toggle-nav {
        padding: .8rem;
    }
}


/* * Hero Display text */

/* TODO: Make sure the  */
.display {
    /* margin-bottom: 12px; */
}

.header-content { 
    /* max-width: 50%; */
    margin-top: 4rem;
}

.header-content > p { 
    font-weight: 300;
    /* max-width: 50%; */
}

/**************
* * List sections
****************/
.list-cards { 
    position: relative;
    display: grid;
    gap: 1.3rem 10px;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;

    justify-items: center;

    /* justify-items: stretch; */
    /* align-items: stretch; */
}

/* .card-image-container:hover::before {
    background-image: linear-gradient(to top right, #1a1a1a, transparent);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
} */

.anime-card { 
    min-width: 130px; 
    min-height: 200px;
    /* display: flex;  */
    /* flex-direction: column; */
}

.anime-card:hover {
    cursor: pointer;
}

.anime-card:hover .card-image {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.418);
}


.anime-card:hover p {
    color: var(--color-main-sat);
}

.title {
    /* transition-duration: 300ms; */
}

.card-image-container {
    background: #D99494;     
    /* width: 100%; */
    /* flex-grow: 1; */
    /* flex-shrink: 0;  */
    height: 80%;
    border-radius: 12px;
}

.card-image {
    /* flex-grow: 0; */
    object-fit: cover;

    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
    /* min-height: inherit; */
    /* min-width: inherit; */
    /* height: 100%; */
    transition-duration: 300ms;
}



.grid-item { 

}



/**************
* * Spotlight Section
****************/

/* * MODIFIED CENTER CAROUSEL CONTENT * */
/* * note: THe structure of the overall container will remain the same in order to allow scrolling.
   * Change will only be applied to the content in the center of each carousel item. */
.carousel-item {
    width: 100%;

    flex-shrink: 0;

    scroll-snap-align: center;
    margin-right: 50px;

    display: grid;
    color: white;

    align-self: flex-start;
}

.card-details-container {
    display: none;
    text-align: left;

}

.card-details-container-body {
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
}

.card-banner-link {
    display: none;
    /* border: 1px solid red; */
}

.card-banner-container {
    /* display: none; */
    /* overflow-y: hidden; */
    height: 100px;

    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    
    box-shadow: var(--box-shadow);
    transition-duration: 200ms;
}

.card-banner-container:hover {
    box-shadow: var(--box-shadow-hover);
    cursor: pointer;
}





/* TODO: Find a way to make the carousel item look good, change it. */
@media screen and (min-width: 485px) {
    
    .carousel-item {
        display: flex;
        flex-direction: column;
        max-height: 350px;
        overflow-y: hidden;
    }

    .carousel-item .card-link {
        display: none;
    }

    .card-banner-container, .card-banner-link {
        display: block;
    }

    .card-details-container {
        display: block;
    }

    .card-details-container-header h3 {
        font-size: 1.15rem;
        margin-bottom: .6rem;
        /* margin-top: 0; */
    }
    
    .card-details-container-body {
        overflow: hidden;
  
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;  
    }
    
}

@media screen and (min-width: 845px) {
    .carousel-item {
        display: grid;
        grid-template-columns: 1fr 3fr; 
        gap: 15px;
    }

    .card-banner-container, .card-banner-link {
        display: none;
    }

    .carousel-item .card-link {
        display: block;
    }
    
    .carousel-item .card-title-container {
        display: none;
    }
    
    .card-details-container {
        display: flex;
        flex-direction: column;
    }

    .card-details-container-header {
        /* display: flex; */
        /* align-items: center; */
    }
    
    .card-details-container-header h3 {
        font-size: 1.15rem;
        margin-bottom: .6rem;
        margin-top: 0;
    }

    .card-details-container-body {
        overflow: hidden;
  
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;  
    }
}

/* General identifier for sections. */

section {
    width: 100%;
}

.section-spotlight { 
    /* width: 100%; */
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #393b6e 75%);
    /* overflow-y: auto; */
}

.section-spotlight *:not(.rating-text) {
    color: white;
}

.spotlight-container {
    text-align: center;
}

.spotlight-container .card-details-spotlight-container {
    text-align: left;
}

.spotlight-header {
    /* color: white; */
    /* color: var(--color-main-light) */
    /* color: rgb(230, 230, 230); */
}

.carousel {
    /* display: flex; */
    /* overflow-x: auto; */
    justify-content: space-between;
}

.carousel-left, .carousel-right {
    /* width: 30%; */
    /* border: 1px solid red; */
}


/* * Carousel Center (Divs containing image and details) */
.carousel-content {
    /* cente r of the carousel */
    width: 80%;
    padding: .7rem;

    overflow-x: auto;

    /* * The divs will move smoothly to each other. */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content div:last-child {
    margin-right: 0;
}

.card-spotlight { 
    width: 100%;

    flex-shrink: 0;

    scroll-snap-align: center;
    margin-right: 50px;
}

.card-image-spotlight {
    box-shadow: none;
}

.details-spotlight .title {
    /* color: white; */
    color: var(--color-main)
}

.details-spotlight-desktop {
    display: none;
}



/**************
* * Genres Section
****************/

.section-genre {
    background-color: #9878E0;
    background-image: linear-gradient(60deg, #9878E0 0%, #EFC1FF 75%);
}

.section-genre .section-title {
    color: var(--color-second-dark)
}


.genre-tags-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid: repeat(7, 1fr), repeat(2, 1fr); */
}

.genre-tags-container .btn {
    margin-bottom: .875rem;
    width: 90%;
}

/*************************************/
/* * ANIME PAGE */
/*************************************/

/* * This contais the all the content for the anime page under the header.
   * (main and aside) */
.anime-content-wrapper {
    /* display: flex;  */
    /* flex-direction: row; */
    /* gap: 1.5rem; */

}

/* * Aside / Trailer section */
.anime-content-wrapper aside {
    /* border: 1px solid green; */
    /* display: flex; */
    /* visibility: hidden; */
    /* max-width: 30%; */
    /* min-width: 150px; */
    /* width: 30%; */
}

.trailer-section {
    /* min-width: 100%; */
    /* width: 100%;
    height: 350px;
    background: rgb(255, 61, 61);
    border-radius: 12px; */
}

main {
    /* width: 70%;  */
}

.header-anime {
    min-height: 325px;
    height: 45vh;
    max-height: 400px;
    
    position: relative;
    background: var(--color-main-dark);
    padding-bottom: 1rem;
}

.navbar-anime {
    /* background: rgba(0, 0, 0, 0.493); */
}

/* Header style for anime pages with no banner image */
.header-anime[data-banner=""] {

}

/* Header style for all anime pages with a banner image */
.header-anime:not([data-banner=""]) {
    background-image: var(--banner-image);
    background-size: cover;
    background-position: top center;
    /* Todo: Add the bottom shadow and blur to the background */
}

.header-anime:not([data-banner=""])::after {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    /* TODO: gradient */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.897) 20%, rgba(0, 0, 0, 0))
    /* box-shadow: inset 0 40px 15px rgba(0, 0, 0, 0.7); */
}

.header-anime:not([data-banner=""])::before {
    content: "";
    /* backdrop-filter: blur(.1rem); */
    /* filter: blur(1px); */
    /* -webkit-filter: blur(1px); */
    background: rgba(255, 255, 255, 0.137);
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-anime-cover-title {
    align-items: flex-end;
    z-index: 1;
}

.anime-header-cover-image {
    max-width: 200px;
    margin-right: .6rem;
    /* border-radius: 12px; */
    /* border: 1px solid black; */
    /* height: auto; */
}


.anime-header-cover-image img {
    /* height: auto; */
    border-radius: 12px;
}

.header-anime-cover-title h3 {
    margin-bottom: 0;
}

/* * Main page content */

.main-section {
    margin-bottom: 1.8rem;
}

.main-section:first-child {
    padding-top: 1.8rem;
}

.main-section > p {
    margin: 0;
}

.main-section-title {
    padding-bottom: .5rem;
    /* padding-top: .6rem; */
    /* margin: 0; */
    /* margin-bottom: 1rem; */
    margin-top: 1rem; 
    /* border: 1px solid black; */

}

.main-section .paragraph {
    /* margin-top: 20px; */
}

.main-section-title:not(:first-child) {
    /* margin-top: 0; */
}

.main-section hr {
    margin: 20px 0;
}

/* * Characters section */
.page-cards-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}

/* *IMPORTANT NOTE ABOUT THE PAGE CARDS!

* - The updated version of the cards are wrapped in an anchor tag.
* - The anchor tag has the commented code of page-card: flex-shrink, max-width, and margin right.

* - If anything goes wrong with the way the content looks: 
*   - Remove the <a> from the cards in the HTML. 
*   - Uncomment the page-card code: flex-shrink, max-width, and margin-right.
*/

.page-card {
    /* flex-shrink: 0;
    max-width: 100px;
    margin-right: 15px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page-card:not(:last-child) {
    /* margin-right: .8rem; */
}


.page-card-image-container {
    width: 100%;
    flex-grow: 1;
}

.page-card-image-container > img {
    /* width: 100%; */
    /* height: 100%; */
    /* aspect-ratio: 1.5 / 2.2; */
}

.page-card-name {
    /* width: 100%; */

    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical;   */
    /* overflow: hidden; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-cards-container a {

    display: block;

    flex-shrink: 0;
    max-width: 110px;
    margin-right: 15px;
}

.page-cards-container a:hover { 
    color: var(--color-main-sat);

}

/* * Reviews */

.review-container {
    background: #EEEEEE;
    border-radius: 12px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.review-header {
}

.review-header-username {
    align-items: center;
    margin: 0 3px;
}

.review-header-username > * {
    padding: 0 3px;
}

.review-header-user-avatar {
    width: 35px;
    height: 35px;
    background-color: #D9D9D9;
    border-radius: 50%;

    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
}

.review-score-container {
    border-top: 1px solid rgba(0, 0, 0, 0.596);
}

.review-body {
    /* margin-bottom: 10px; */
}

/* * Review details modal */

.modal-overlay .loading-element {
    /* * It's an overlay for the review container, so give it the
       * same settings as the container.  */
    border-radius: 12px;
    background: #EEEEEE;
}

.modal-overlay {
    position: fixed; 
    z-index: 5;
    background: rgba(0, 0, 0, 0.712);
    width: 100%;
    height: 100%;
    display: none;
}

.modal-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #EEEEEE;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.modal-top { 
    position: sticky;
    top: 0;
    z-index: 1;
}

.modal-header {
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329); */
}

.modal-body {
    overflow-y: auto;
    padding-bottom: .75rem;
    /* scrollbar-color: green blue; */
    /* width: 100%; */
}

.modal-body::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

/* *Scrollbar foreground */
.modal-body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.205);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.219); */
    border-radius: 8px;
    /* width: 5px; */
}

/* * Scrollbar Background */
.modal-body::-webkit-scrollbar-track {
    /* background: blue; */
}

.modal-body * {
    font-size: 1rem;
    /* font-size: 14px; */
    /* line-height: 20px; */
}

/* Targeting other media within reviews */
.modal-body img, .modal-body video{
    /* max-width: 90%; */
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.274);
}

.modal-body video {
    width: 100%;
}

.modal-overlay .black-dot {
    margin: 0;
}

@media screen and (min-width: 500px) {


    

    .modal-content-wrapper {

        width: 460px;
        height: 575px;
        /* margin: 0 auto; */
        border-radius: 12px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media screen and (max-height: 585px) {
    /* * This media query takes into account that some devices */

    .modal-content-wrapper {
        /* height: 100vh; */
    }

}

/*************************************/
/* * SEARCH PAGE */
/*************************************/
.results-wrapper {
    margin-top: min(80px);
}

.search-cards-container {
    /* display: flex; */
    /* flex-wrap: wrap; */

    /* padding: 3px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;
    /* justify-items: stretch; */
    /* align-items: stretch; */
    /* border: 1px solid green; */
}

.search-cards-container > * {
    /* max-width: 50%; */
}

.search-cards-container > a {
    /* display: block; */

    /* border: 2px solid red; */

    /* width: 50%; */

    /* margin: 3px; */
    /* flex-shrink: 1; */
    /* flex-grow: 1; */

    /* flex-shrink: 0; */
    /* max-width: 110px; */

}

.search-card {
    /* border: 1px solid peru; */
    display: flex;
    flex-direction: column;
}

.search-card-image-container {
    /* border: 2px solid pink; */
    flex-grow: 1;
    /* height: 100%; */
    /* border-radius: 12px; */
}

.search-card-image-container img {
    /* height: 100%; */
    aspect-ratio: 1.5 / 2; 
    border-radius: 6px;
}

.results-header {
    margin-bottom: 1rem
}

/*************************************/
/* * MEDIA QUERIES */
/*************************************/

/**************
* * Large Mobile
****************/


@media screen and (min-width: 405px) {
    /* * Change the column count of the grid lists. */

    .search-cards-container, .grid-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}



/**************
* * Small Tablets
****************/
@media screen and (min-width: 595px) {

    .search-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }



}


/************** 
* * Large tablets and laptops
****************/
@media screen and (min-width: 780px) {

    .search-cards-container, .grid-cards {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-cards-home .card-link:last-child {
        /* border: 1px solid green; */
        display: none;
    }

}



/************** 
* * Desktop
****************/

@media screen and (min-width: 1000px) {

    
    .search-cards-container, .grid-cards {
        grid-template-columns: repeat(6, 1fr);
    }
    
    .container {
        width: 82%;
    }
    
    .grid-cards-home .card-link:last-child {
        /* border: 1px solid green; */
        display: block;
    }

    .grid-cards {
        gap: 1.2rem; 
    }

}
